[Unit]
Description=HBase Exporter for Prometheus
After=network-online.target

[Service]
User=hdfs
EnvironmentFile=/etc/systemd-env-hbase-exporter
ExecStart=/usr/local/bin/hbase-exporter --zookeeper-server-address=${ZOOKEEPER_SERVER_1} \
                                        --zookeeper-server-address=${ZOOKEEPER_SERVER_2} \
                                        --zookeeper-server-address=${ZOOKEEPER_SERVER_3} \
                                        --zookeeper-server-address=${ZOOKEEPER_SERVER_4} \
                                        --zookeeper-server-address=${ZOOKEEPER_SERVER_5} \
                                        --export-refresh-rate=${EXPORT_REFRESH_RATE} \
                                        --hbck-refresh-rate=${HBCK_REFRESH_RATE}
Restart=always
RestartSec=30s
