[Unit]
Description=HBase Exporter for Prometheus
After=network-online.target

[Service]
User=hdfs
ExecStart=/usr/local/bin/hbase-exporter
Restart=always
RestartSec=30s
