PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION="python"
EXPORT_REFRESH_RATE="{{ hbase_exporter_refresh_rate }}"
HBASE_HOST="{{ hbase_exporter_hbase_host }}"
HBASE_TABLE="{{ hbase_exporter_hbase_tablename }}"
HBCK_REFRESH_RATE="{{ hbase_exporter_hbck_refresh_rate }}"
ZOOKEEPER_SERVER_1="{{ zookeeper_server_1 }}"
ZOOKEEPER_SERVER_2="{{ zookeeper_server_2 }}"
ZOOKEEPER_SERVER_3="{{ zookeeper_server_3 }}"
ZOOKEEPER_SERVER_4="{{ zookeeper_server_4 }}"
ZOOKEEPER_SERVER_5="{{ zookeeper_server_5 }}"
